<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= render "users/list", user: @user %>
    </div>

<div class="col-lg-8">
    <h2>Users</h2>
     <table class="table">
           <tr>
             <th>image</th>
              <th>name</th>
            </tr>
      <% @users.each do |user| %>
             <tr>
               <th>
               <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg" %>
               </th>
              <th><%= user.name %></th>
              <th><%= link_to "Show", user_path(user.id) %></th>
            </tr>

        <% end %>
      </table>
      </div>
  </div>
</div>