

<nav class="navbar navbar-light bg-none">
  <div class="navbar-brand" href="#!">
    <h1>welcome to Bookers !!</h1>
    </div>
</nav>

<nav class="navbar navbar-light bg-none ">
  <div class="navbar-brand" href="#!">in Bookers</div>
</nav>

<nav class="navbar navbar-light bg-none">
  <div class="navbar-brand" href="#!">you can share and exchange your opinions , inpressions , and emotions</div>
</nav>


<nav class="navbar navbar-light bg-none">
  <div class="navbar-brand" href="#!">about various books!</div>
</nav>


<button type="button" class="btn btn-primary"><%= link_to "signin", new_user_registration_path, class: 'nav-link text-dark' %></button>

<button type="button" class="btn btn-primary"><%= link_to "login", new_user_session_path, class: 'nav-link text-dark' %></button>
