%nav.navbar.navbar-light.bg-none
  .navbar-brand{:href => "#!"}
    %h1 welcome to Bookers !!
%nav.navbar.navbar-light.bg-none
  .navbar-brand{:href => "#!"} in Bookers
%nav.navbar.navbar-light.bg-none
  .navbar-brand{:href => "#!"} you can share and exchange your opinions , inpressions , and emotions
%nav.navbar.navbar-light.bg-none
  .navbar-brand{:href => "#!"} about various books!
%button.btn.btn-primary{:type => "button"}= link_to "signin", new_user_registration_path, class: 'nav-link text-dark'
%button.btn.btn-primary{:type => "button"}= link_to "login", new_user_session_path, class: 'nav-link text-dark'
